<%= render "flash/flash"%>

<div class="section">
	<div class="container">			
	</div>
		<%= render @messages %>
	</div>
	<br>
	<article class="media">
		<div class="media-content">
			<div class="field has-addons">
				<div class="control is-expanded">
					<%= form_for(@message, url: message_path) do |f| %>
						<%= f.text_field :body, class: "input", placeholder: "コメントを入力してください" %>
				</div>
				<div class="control">
						<%= f.submit "送信", class: "button is-info"%>		
					</a>
					<% end %>
				</div>
			</div>
		</div>
	</article>
</div>
